@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    }

    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url(25772.gif);
        background-size: cover;
        background-position: center;
    }
    
    .wrapper {
     width: 420px;   
     background-color:transparent;
     border: 2px solid rgba (255, 255, 255 .2);
     color: #1e1d1d;
     border-radius: 10px;
     padding: 30px 40px;
    }

    .wrapper .input-box{
        width: 5%;
        height: 4px;
        margin: 3px 0;
        }
        
    .glass-container{
        width: 900%;
        height: 900%;
        position: relative;
        border: none;
        z-index: 1;
        background: rgba(190,188,190,0.685);
        box-shadow: 0 4px  6px rgba(0, 0, 0 ,0.1);
        border-radius: 10px;
        border: 1px solid #fff
        }
    .glass-container input::placeholder{
    color: #fff;
    }

    .input-box input::placeholder{
    color: #fff;
    }

      .input-box i{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      }

      .wrapper .remember-forgot {
        font-display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
        }
        .glass-container label input {
        accent-color: #fff;
        margin-right: 3px;
        }
        
        .remember-forgot a {
        color: #ffffff9c;
        text-decoration: none;
        }
        .remember-forgot a:hover {
        text-decoration: underline;
        }
        .wrapper  {
        width: 30%;
        height: 500px;
        background: #ffffff57;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.737);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 400;
        }
        
        .wrapper  {
        font-size: 14.5px;
        text-align: center;
        margin-top: 20px 0  15px;
        }
        
        .wrapper p a{
        color: #ffffff97;
        text-decoration: none;
        font-weight: 600;
        }
        
        .wrapper p a:hover {
        text-decoration: underline;
        }

